:root {
  --text: #444;
  --accent-text: #000;
  --bg: #f7ede0;
  --bleed: #c55555;
  --sky: #5591c5;
  --accent-bg: #efefef;
  --input-bg: white;
  --warning: #ffeeaa;
  --notice: #aaccff;
  --tip: #dbffd6;
  --sans: "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --mono: Menlo, Consolas, Monaco, "Liberation Mono", Lucida Console, monospace;
  --content-margin: 1.5rem auto;
  --bigger-content-margin: 2.5rem auto;
  --standard-border: 3px solid var(--text);
  --alternate-border: 3px solid #e1d0c2;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  font-size: 1.35rem;
  line-height: 1.5;
}

a {
  color: #444444;
  text-decoration: none;
  border-bottom: var(--standard-border);
}

a:hover {
  color: var(--bg);
  background: var(--text);
}

.bleed {
  background-color: var(--bleed) !important;
}

.sky {
  background-color: var(--sky) !important;
}

header,
.post,
.about,
.home,
footer {
  display: block;
  max-width: 39rem;
  margin: 1rem auto;
  padding: 0 1rem;
}

header > .legend-title {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  margin: 2rem 0;
  text-align: center;
  border-bottom: none;
}

header > .legend-title:hover {
  background: none;
  color: inherit;
}

.about {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: var(--alternate-border);
}

.banner {
  display: block;
  width: 100%;
}

footer {
  display: block;
  font-size: 1rem;
  margin-bottom: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
  max-width: 39rem;
  margin: 0 auto;
  padding: 0 1rem;
  margin-bottom: 3rem !important;
  padding-bottom: 3rem !important;
  border-bottom: var(--alternate-border);
}

main.home > a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text);
  margin: 3rem 0;
  text-decoration-thickness: 0.15rem;
  border-bottom: none;
}

main.home a:last-child {
  margin-bottom: 0;
}

main.home > a:hover {
  color: inherit;
  background-color: inherit;
}

main.home > a > div {
  display: flex;
}

main.home > a > div > span {
  font-size: 1rem;
  color: var(--bg);
  background: var(--text);
  margin-right: 0.5rem;
  padding: 0 0.2rem;
  border-bottom: none;
}

main.home > a > div > span:last-child {
  margin-right: 0;
}

main.home > a > p {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: var(--standard-border);
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

main.home > a:hover > p {
  color: var(--bg);
  background: var(--text);
}

main.post > .title {
  font-size: 2rem;
  font-weight: 600;
}

main.post > .date {
  font-size: 1rem;
  font-weight: 600;
}

.content > p:last-child {
  margin-bottom: 0;
}

.embed {
  margin: 1rem 0 0;
}

@media only screen and (max-width: 600px) {
  header,
  main,
  .about,
  .post,
  .home,
  iframe,
  footer {
    max-width: 100%;
  }
}
